$black: #000000;
$white: #ffffff;
$colortext: #474747;
$greydark: #3d3d3d;
$brovn: #C57138;
$gray: #444444;
$grayel: #d3d3d3;
$grayinput: #999999;

// Breakpoint

$desktop-bp-2200: 2200px;
$desktop-bp-1200: 1200px;
$desktop-bp-1100: 1100px;
$desktop-bp-1024: 1024px;
$desktop-bp-992: 992px;
$desktop-bp-880: 880px;
$tablets-bp-768: 768px;
$mobile-bp-660: 660px;
$mobile-bp-576: 576px;
$mobile-bp-480: 480px;
$mobile-bp-380: 380px;
$mobile-bp-375: 375px;